---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="screentone">
        <h1>RESCAT</h1>
    </main>
</Layout>

<style>
main {
    justify-self: center;
    align-self: center;
}
h1 {
    font-size: 3em;
}
</style>
